body{
	margin: 0 auto;
	font-family: 'Helvetica', 'Arial', sans-serif;
	background-color: #32647d;
	color:  #fdc743;
	text-align: center;
	border: 60px solid #fdc743;
	max-width: 768px;
}


h1{
	font-size: 135px;
	text-align: center;
	font-family: 'Spicy Rice', cursive;
}

h1.small{
	line-height: 10%
}

h2{
	font-size: 30px;
}


header h1{
	color:#fdc743;
}


main{
	color: #fdc743
	max-width:  768px;
	font-size: 30px;
	margin: 80px;
}


main img{
	max-width: 100%;
}


p {
  padding: 0px;
}


.button {
  background-color: #fdc743;
  border: none;
  color: #32647d;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 2px 2px;
  cursor: pointer
}

